{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary p-0" id="navcolor">
    <div class="container-fluid p-1">
        <!-- ACA COLOCAMOS EL LOGO DE LA EMPRESA EN EL LADO IZQUIERDO DE LA BARRA DE NAVEGACION -->
        <link rel="stylesheet" href="..." type="text/css">
        <!-- NOMBRAMOS LA EMPRESA EN LA BARRA DE NAVEGACION -->
        <img src="{% get_media_prefix %}images/ruta_del_logo.png" alt="">
        <a class="navbar-brand" href="#" id="navletra">CENTRO MEDICO VISTAS</a>
        <!-- CARACTERISTICAS DE LOS BOTONES EN LA BARRA DE NAVEGACION -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <!-- LINKS DE LAS PAGINAS SELECCIONABLES -->
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="{% url 'administrador' %}" id="navletra">Administrador</a>
                <a class="nav-link" href="{% url 'secretaria' %}" id="navletra">Secretaria</a>
                <a class="nav-link" href="{% url 'paciente' %}" id="navletra">Paciente</a>
                <a class="nav-link" href="{% url 'medico' %}" id="navletra">Medico</a>
                <a class="nav-link" href="{% url 'cajero' %}" id="navletra">cajero</a>
                <a class="nav-link" href="{% url 'calendario' %}" id="navletra">Toma de horas </a> 
            </div>
        </div>
    </div>
</nav>
